<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dxsjy.Mapper.EX.BusinessEXMapper">
    <resultMap id="123" type="com.example.dxsjy.Bean.EX.BusinessEX">
        <id column="b_id" property="bId"></id>
        <result column="user_id" property="userId"></result>
        <result column="b_name" property="bName"></result>
        <result column="b_address" property="bAddress"></result>
        <result column="b_tel" property="bTel"></result>
        <result column="b_people" property="bPeople"></result>
        <result column="b_email" property="bEmail"></result>
        <result column="b_website" property="bWebsite"></result>


        <collection property="recruitment"
                    column="b_id"
                    select="selectRecruitment"
                    ofType="com.example.dxsjy.Bean.RecruitmentWithBLOBs">

        </collection>


    </resultMap>

    <resultMap id="456" type="com.example.dxsjy.Bean.RecruitmentWithBLOBs">
        <id column="id" property="id"></id>
        <result column="b_id" property="bId"></result>
        <result column="job_name" property="jobName"></result>
        <result column="work_address" property="workAddress"></result>
        <result column="rec_number" property="recNumber"></result>
        <result column="salary" property="salary"></result>
        <result column="closing_date" property="closingDate"></result>
        <result column="job_requirement" property="jobRequirement"></result>
        <result column="Other_treatment" property="otherTreatment"></result>
        <result column="remarks" property="remarks"></result>

    </resultMap>





    <select id="selectRecruitment" resultMap="456">
        select * from recruitment_info where b_id = #{b_id}
    </select>

    <select id="findAll" resultMap="123">
        select * from business_info
    </select>

    <select id="findById" resultMap="123">
        select * from business_info where b_id=#{id}
    </select>

    <select id="selectByKey" resultMap="123">
        SELECT * FROM business_info,recruitment_info WHERE business_info.b_id=recruitment_info.b_id AND (recruitment_info.job_name LIKE #{key} OR business_info.b_name LIKE #{key} OR work_address LIKE #{key})
    </select>
</mapper>