<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dxsjy.Mapper.EX.GraduateEXMapper">
    <resultMap id="aaa" type="com.example.dxsjy.Bean.EX.GraduateEX">
        <id column="s_id" property="sId"></id>
        <result column="user_id1" property="userId1"></result>
        <result column="sname" property="sname"></result>
        <result column="ssex" property="ssex"></result>
        <result column="country" property="country"></result>
        <result column="birth" property="birth"></result>
        <result column="marital_status" property="maritalStatus"></result>
        <result column="height" property="height"></result>
        <result column="ID" property="id"></result>
        <result column="native_place" property="nativePlace"></result>
        <result column="tel" property="tel"></result>
        <result column="QQ" property="qq"></result>
        <result column="e-mail" property="eMail"></result>
        <result column="postal_code" property="postalCode"></result>
        <result column="address" property="address"></result>
        <result column="self-assessment" property="selfAssessment"></result>
        <result column="graduate_institutions" property="graduateInstitutions"></result>
        <result column="major" property="major"></result>
        <result column="degree" property="degree"></result>
        <result column="rank" property="rank"></result>
        <result column="first_foreign_languages" property="firstForeignLanguages"></result>
        <result column="first_level" property="firstLevel"></result>
        <result column="second_foreign_languages" property="secondForeignLanguages"></result>
        <result column="second_level" property="secondLevel"></result>
        <result column="remark" property="remark"></result>

        <collection property="graduate_record"
                    column="s_id"
                    select="selectRecord"
                    ofType="com.example.dxsjy.Bean.Graduate_record">

        </collection>

        <collection property="graduate_work"
                    column="s_id"
                    select="selectWork"
                    ofType="com.example.dxsjy.Bean.Graduate_work">

        </collection>
    </resultMap>

    <resultMap id="bbb" type="com.example.dxsjy.Bean.Graduate_record">
        <id column="id" property="id"></id>
        <result column="graduate_id1" property="graduateId1"></result>
        <result column="trainning" property="trainning"></result>
        <result column="start_time" property="startTime"></result>
        <result column="stop_time" property="stopTime"></result>
        <result column="all_time" property="allTime"></result>
        <result column="major" property="major"></result>
        <result column="trainning_depart" property="trainningDepart"></result>
        <result column="trainning_money" property="trainningMoney"></result>

    </resultMap>

    <resultMap id="ccc" type="com.example.dxsjy.Bean.Graduate_work">
        <id column="id" property="id"></id>
        <result column="graduate_id" property="graduateId"></result>
        <result column="start_time" property="startTime"></result>
        <result column="stop_time" property="stopTime"></result>
        <result column="work_place" property="workPlace"></result>
        <result column="department" property="department"></result>
        <result column="job" property="job"></result>
        <result column="rank" property="rank"></result>
    </resultMap>




    <select id="selectRecord" resultMap="bbb">
        select * from graduate_record where graduate_id1 = #{s_id}
    </select>
    <select id="selectWork" resultMap="ccc">
        select * from graduate_work_info where graduate_id = #{s_id}
    </select>
    <select id="findAll" resultMap="aaa">
        select * from graduate_info
    </select>
</mapper>